body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url("images/header-image.jpg");
    filter: blur(5px);
    background-size: cover;
    background-position: center center;
    color: #222222;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-name {
    font-size: 5rem;
    padding: 5px;
}

.header-job-title {
    font-size: 2.5rem;
}

main {
    color: #FFFFFF;
}