body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("images/header-image.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

main {
    color: #FFFFFF;
}

.header-name {
    color: blue;
    font-size: 5rem;
}